
@{
    ViewBag.Title = "Bot";
}

<div class="container body-content">
    <div class="jumbotron">
        <h1 style="text-align: center;">#Интервю</h1>
    </div>
    <div class="col-sm-4 col-sm-push-4 ">
        <iframe src='https://webchat.botframework.com/embed/sogerobo?s=rOgdoJRByHY.cwA.u7E.bdfqb5MZbJqkkcjASLQRpGdHpUX5_19qBnL7YioS0HQ' height="400" width="300"></iframe>
    </div>
</div>

