<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h3 style="font-family: Cambria" ;>
                            Добре дошъл в нашето приложение <strong>My Next Generation</strong> , което създадохме специално за теб!
                            Понеже знаем, че в началото на своята кариера човек се чувства неуверен и има нужда от подкрепа, ние сме тук, за да ти помогнем.
                            <br />
                            <br />
                            С <strong>My Next Generation</strong> можеш:
                            <br />
                            -	бързо и лесно да откриеш твоите силни страни с помощта на нашия тест за кариерна ориентация
                            <br />
                            -	да разбереш какъв профил си и да кандидатсваш за позиции, съответстващи  на него
                            <br />
                            -	да направиш пробно интервю с нашия чатбот, който ще те подготви за момента, в който ще се явиш на истинско интервю за работа.
                            <br />
                            - да научиш полезни неща, свързани с твоите първи стъпки в професионалния живот
                        </h3>

                        @Html.ActionLink("Направи своя тест сега!", "Index", "Test", new object { }, new { @class = "btn btn-warning btn-xl" })
                        @Html.ActionLink("Направи пробно интервю!", "Index", "Bot", new object { }, new { @class = "btn btn-warning btn-xl" })


                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="~/template/img/demo-screen-1.jpg" class="img-responsive" alt="sda" />
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
