<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h3 style="font-family: Times New Roman";>Добре дошъл в нашето приложение, което ще ти помогне бързо и лесно да откриеш твоите силни страни с помощта на нашия тест за кариерна ориентация. Разбери и кои са подходящите за теб позиции спoред твоя профил и кандидатствай за тях!</h3>
                        @Html.ActionLink("Направи своя тест сега!","Index","Test", new object { },new { @class = "btn btn-outline btn-xl" })
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="~/template/img/demo-screen-1.jpg" class="img-responsive" alt="sda" />
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
