@model TestingApp.Models.ApplyButtonCounter
@{
    ViewBag.Title = "Error";
}
<form method="post">
    <div class="container body-content">
        <img src="~/template/img/404_page_cover.jpg" class="img-responsive" />
    </div>
</form>
