
@{
    ViewBag.Title = "Style4";
}

<section class="cta" style="padding-top: 10px;padding-bottom: 10px;">
    <div class="cta-content">
        <div class="container">
            <h1>Ти се вдъхновяваш от идеите (IDEA ORIENTED)</h1>
            <p>Ти си креативен и носиш промяната в себе си. Провокираш останалите и търсиш нови начини за справяне с проблемите. Обичаш идеите, ясните концепции, теории и иновации. Хора като теб харесват да се борят с проблеми, да подобряват, иновират, да търсят алтернативи и да се възползват от новооткрити възможности. Действията им се характеризират с въображение и харизма, но понякога околните ги намират за нереалисти и трудни за разбиране.</p>
            <img src="~/template/img/idea.png" class="img-thumbnail" width="400" height="400" align="middle" style="display: block;margin: 0 auto;" />
            <br />
            <br />
            @Html.ActionLink("Кандидатствай тук!", "Error", "Test", new object { }, new { @class = "btn btn-primary btn-lg" })
            <br />
        </div>
    </div>
</section>

