@model TestingApp.Models.ApplyButtonCounter
@{
    ViewBag.Title = "Style1";
}
@using (Html.BeginForm("Style1","Test", FormMethod.Post))
{
    <section class="cta" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="cta-content">
            <div class="container">
                <h1>Ти се вдъхновяваш от действието (ACTION ORIENTED)</h1>
                <p>Ти си отговорен, директен, нетърпелив, енергичен, готов си да реагираш бързо във всяка една ситуация. Гъвкав си в постоянно променящата се среда. обичаш действията, резултатите, ясните цели и тяхното активно преследване. Цениш високата продуктивност и ефективност, отговорността и опита. Действията ти се характеризират с прагматичност, директност, често предизвикват другите да покажат най-доброто от себе си.</p>
                <img src="~/template/img/action.jpg" class="img-thumbnail" width="400" height="400" align="middle" style="display: block;margin: 0 auto;" />
                <br />
                <br />
                <a href="/Test/Error" class="btn btn-primary btn-lg" onclick="document.forms[0].submit();return true;">Кандидатствай тук!</a>
                <br />
            </div>
        </div>
    </section>
}
    

